* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
.container {
  margin-inline: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 49px;
}
h1 {
  font-family: "Libre Franklin";
  font-size: 32px;
  font-weight: 700;
  line-height: 38.78px;
  color: #15202a;
  margin-bottom: 40px;
}
h1 span {
  color: #4c7bf3;
}
h2 {
  font-family: "Libre Franklin";
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
  color: #969696;
  margin-bottom: 16px;
}
h2 span {
  font-family: "Libre Franklin";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #15202a;
}
h3 {
  font-family: "Libre Franklin";
  font-size: 20px;
  font-weight: 300;
  line-height: 24.24px;
  text-align: center;
  color: #15202a;
  margin-bottom: 40px;
}
.notify-part {
  margin-bottom: 94px;
}
input {
  width: 421px;
  height: 56px;
  border: 1px solid #c2d3ff;
  border-radius: 50px;
  padding-inline: 30px;
}
::placeholder {
  font-family: "Libre Franklin";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #c2d3ff;
}
button {
  width: 200px;
  height: 56px;
  background-color: #4c7bf3;
  border: none;
  border-radius: 50px;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.39px;
  text-align: center;
  color: white;
  margin-left: 16px;
}
button:hover {
  background-color: #5a85f0;
}

.icons {
  margin-top: 72px;
}

a {
  margin-right: 11px;
  text-decoration: none;
}
a:last-child {
  margin-right: 0px;
}
p {
  font-family: "Libre Franklin";
  font-size: 12px;
  font-weight: 300;
  line-height: 14.54px;
  color: #969696;
  margin-top: 25px;
}
svg {
  color: #4c7bf3;
}
a:hover svg {
  fill: #4c7bf3;
  color: white;
}
